<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center;">
      <img src="../../assets/icon/Bandle_title_black.png" width="187px">
  </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating">メールアドレス</ion-label>
        <ion-input type="text" [(ngModel)]="data.email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">パスワード</ion-label>
        <ion-input type="password" [(ngModel)]="data.password" name="password" required></ion-input>
      </ion-item>
    </ion-list>
    <p>
      <ion-button expand="block" color="secondary" type="button" (click)="signIn()">サインイン</ion-button>
    </p>
    <p>
      <ion-button expand="block" fill="clear" color="light" type="button" (click)="signUp()">アカウントを<span style="color:#FF4E00;">作成</span>する</ion-button>
    </p>
  </form>
</ion-content>
