<ion-header>
  <ion-toolbar>
      <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item item-start >
            <ion-grid>
            <ion-row>
                <ion-col>
                  <div>
                      <img style="    width: 80%; margin: auto auto auto auto;"src="../../assets/icon/favicon.png">
                  </div>
                </ion-col>
                <ion-col>
                    <div>
                        <p >ユーザー名</p>
                        <p >年齢</p>  
                        <p >活動地域</p>  
                        <p >性別</p>  
                    </div>
                  </ion-col>
                </ion-row>
                </ion-grid>
        </ion-item>
        <ion-item lines="inset" style="--border-color:#ffffff;">
            <ion-grid>
                <ion-row>
                    <ion-col>
                      <div>
                          <ion-button expand="block" color="secondary" type="button" >加入申請</ion-button>
                      </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-button expand="block" color="secondary" type="button" >メッセージを送る</ion-button>
                        </div>
                      </ion-col>
                    </ion-row>
                    </ion-grid>
        </ion-item>
        <ion-item>
          プロフィール
         </ion-item>
         <ion-item>
           担当パート
          </ion-item>
          <ion-item item-end>
            好きなジャンル
            </ion-item>
    </ion-card>
    
</ion-content>
