<ion-list>
  <div class="listItemClass" (click)="inquiry()">
  <ion-item class="rankingItemClass">
      <ion-item item-left class="itemLeftClass">
          <ion-img  src="http://img.youtube.com/vi/dn17-EfMNY8/default.jpg"></ion-img>
      </ion-item>
      <ion-item class="itemLightClass">
          <div>
            <div class="itemLightTopClass">
              <h6>動画タイトル</h6>
            </div>
          </div>
      </ion-item>
      <ion-item><h1>1</h1></ion-item>
  </ion-item>
  <ion-item >
      <div class="itemLightBottomClass">
        <div class="spanClassTop">
            <ion-avotor><img src="../../assets/icon/favicon.png" class="userAvotorClass"></ion-avotor>
            <span>　投稿者名</span>
        </div>
        <div class="spanClass">
          <ion-icon name="logo-youtube"></ion-icon>
          <span>1,000,000</span>
        </div>
        <div class="spanClass">
            <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>
            <span>1,000,000</span>
        </div>
        <div class="spanClass">
            <ion-icon name="heart"></ion-icon>
            <span>1,000,000</span>
        </div>
      </div>
  </ion-item>
</div>
</ion-list>