.spanClass{
    font-size:10px;
    padding-left:10px;
}
.spanClassTop{
    font-size:10px;
}
.itemLeftClass{
    left:-16px;
}
.itemLightClass{
    left:-30px;
}

.itemLightTopClass{
    left:-16px;
}
.userAvotorClass{
    width:15px;
}
.rankingItemClass{
    width:400px;
}
.itemLightBottomClass{
    display: flex;
}
.listItemClass{
    border-bottom: solid;
    border-bottom-color: #ffffff;
}