<ion-header>
    <ion-button color="dark" (click)="cancel()">
        <ion-icon slot="icon-only" name="backspace" style="color:ff7738;" ></ion-icon>
      </ion-button>
    <ion-title>Event Details</ion-title>
</ion-header>
 
<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="タイトル" [(ngModel)]="event.title" ngDefaultControl></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="場所" [(ngModel)]="event.place" ngDefaultControl></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>終日</ion-label>
          <ion-toggle [(ngModel)]="event.allDay"></ion-toggle>
        </ion-item>
    <ion-item>
      <ion-label>開始</ion-label>
      <ion-datetime displayFormat="YYYY/M/D  HH:mm" pickerFormat="YYYY/M/D  HH:mm" doneText="OK" cancelText="キャンセル" placeholder="日付を選択" [(ngModel)]="event.startTime" [min]="minDate" ngDefaultControl></ion-datetime>
    </ion-item>
 
    <ion-item>
      <ion-label>終了</ion-label>
      <ion-datetime displayFormat="YYYY/M/D  HH:mm" pickerFormat="YYYY/M/D  HH:mm" doneText="OK" cancelText="キャンセル" placeholder="日付を選択" [(ngModel)]="event.endTime" [min]="minDate" ngDefaultControl></ion-datetime>
    </ion-item>
 
    
  </ion-list>
 
  <ion-button expand="block" color="secondary" type="button" (click)="save()">予定を追加</ion-button>
</ion-content>
