<ion-list>
                <ion-card color="dark" (click)="inquiry()">
                                <ion-item color="dark" item-start >
                                        <ion-avatar item-start>
                                                <img src="../../assets/icon/favicon.png">
                                        </ion-avatar>
                                        <div>
                                                <p style="padding-left: 10px;     margin: 0 0 0 0;">Account Name</p>
                                                <p style="padding-left: 10px;     margin: 0 0 0 0;">@account_id</p>  
                                        </div>
                                        
                                        <ion-note item-end style="margin: 0 0 0 auto;">00:00 am</ion-note>
                                </ion-item>
                                <ion-item color="dark" >
                                <div id=”player” style="margin: 0 auto 0 auto;">
                                                <iframe src="https://www.youtube.com/embed/dn17-EfMNY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                </ion-item>
                                <ion-item color="dark" style="left:20px">
                                        <div style="margin: 0 auto 0 0;">
                                                <p >本文(１行)<span style="color:rgb(99, 99, 99);">...</span></p>
                                        </div>
                                </ion-item>
                                <ion-item color="dark" style="left:20px  display:flex; justify-content:space-between; flex-direction: row;">
                                                        <div>
                                                          <ion-icon name="chatboxes"></ion-icon>
                                                        </div>
                                                        <div>
                                                          <ion-icon name="heart"></ion-icon>  
                                                        </div>
                                </ion-item>
                </ion-card>
</ion-list>


