<ion-card color="dark" class="cardClass">
    <ion-img [src]="thumnailUrl" (click)="thumnail()" ></ion-img>
 <ion-item style="--border-color:#ffffff;">
    <ion-label position="floating">タイトル</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item style="--border-color:#ffffff;">
    <ion-label position="floating">ジャンル</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item >
    <ion-label position="floating">動画の説明</ion-label>
    <ion-textarea rows="6" cols="20"></ion-textarea>
  </ion-item>
</ion-card>
<ion-button expand="block" color="secondary" type="button" >動画を投稿する</ion-button>

