.selectedClass {
    border-bottom: solid;
    border-color: #ff7738;
}
.disableClass {
    border-bottom: solid;
    border-color: #232323;
}
.listItemClass{
    border-bottom: solid;
    border-bottom-color: #ffffff;
}